.cartmodalContainer{
    overflow-y: auto;
}

p{
    color: #fff;
}

.cartModalFooterButtons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.cartModalButtons{
    background-color: #eb7600;
    padding: 10px;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartModalButtons img{
    width: 20px;
    margin-right: 10px;
}


